<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@vigilio/express - <%= title %></title>
<meta name="description" content="framework to create web">
<link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
<%- vite  %>